  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-f56f2e21-e01b-4489-83f1-eb7bc0f5ed94;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-f56f2e21-e01b-4489-83f1-eb7bc0f5ed94.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="EatIn"
         connectionString="Data Source=.; Initial Catalog=eResaurant; Integrated Security=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
